// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Font family list
/// @type List
$primary-font: 'SF-UI-display', sans-serif;
$secondary-font: 'Bebas-Neue', sans-serif;
$second-secondary-font: 'SF-UI-Text', sans-serif;


/// font sizes for different width screen
$triple-extra-large: 70px;
$double-extra-large: 60px;
$extra-large: 50px;
$large: 40px;
$medium: 30;
$semi-medium: 20px;
$small: 14px;
$extra-small: 12px;



/// font weight for the website
// $normal-weight
$normal: normal;
$light: 300;
$medium: 500;
$bold: bold;


/// Text colors 
/// @type Color
$primary-text-dark: #000000;
$primary-text-white: #FFFFFF;
$secondary-text-white: #E5E5E5;
$orange-text: #FF6A28;
$secondary-text-dark: rgba(0,0,0,0.67);


//background-colors
$primary-background-dark: #000000;
$primary-background-white: #FFFFFF;
$secondary-background-white:#E5E5E5;
$button-background: #FF6A28;
$popup-background: rgba(0,0,0,0.5);
$green-background: #80FF94;
$shadow-background: rgba(0, 0, 0, 0.1);
$navbar-close-background: rgba(255,255,255,0.1);


//border-colors
$orange: #FF6A28;
$whisper: #E5E5E5;
$white: rgba(255,255,255,0.1);



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
