<link rel="preload" href="/fonts/sf-ui-display-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/sf-ui-display-regular.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/sf-ui-display-regular.ttf" as="font" type="font/ttf" crossorigin>

<link rel="preload" href="/fonts/sf-ui-display-bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/sf-ui-display-bold.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/sf-ui-display-bold.ttf" as="font" type="font/ttf" crossorigin>

<link rel="preload" href="/fonts/BebasNeue-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/BebasNeue-Regular.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/BebasNeue-Regular.ttf" as="font" type="font/ttf" crossorigin>



