<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__logo">
                <div class="header__logo-wrap">
                    <img class="header__logo-image" src="/images/site-logo.png">
                    <!-- <span>sanda logo</span> -->
                </div>
            </div>
            <nav class="header__nav">
                <div class="header__nav-items">
                    <a class="header__nav-item" href="#">Packages & Subscriptions</a>
                    <a class="header__nav-item" href="#">Get in Touch</a>
                </div>
                <div class="header__nav-icon-wrap"></div>
                <div class="header__nav-icon-close"></div>
            </nav>
        </div>
    </div>
</header>